{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
    {% trans "Complete Registration" %}
{% endblock title %}

{% block content %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li><a class="link" href="{% url 'notes:home' %}">Home</a></li>
            <li>Complete Registration</li>
        </ul>
    </div>
    {% if form.errors %}
        {% for sub, error in form.errors.items %}
            <div class="p-2">
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 hidden md:flex" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{ error }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="flex justify-center pt-2">
        <p class="text-xl font-bold">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
        {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
    </div>
    <div class="flex justify-center p-2" onsubmit="disableSubmit();">
        {% url 'socialaccount_signup' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
                <input class="btn btn-accent btn-block mt-5 mb-2" type="submit" value="Register">
            {% endslot %}
        {% endelement %}
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        function disableSubmit() {
            document.querySelector('input[type="submit"]').disabled = true;
            document.querySelector('input[type="submit"]').value = "Registering...";
        }
    </script>
{% endblock scripts %}