{% extends "layout.html" %}
{% load allauth %}
{% load i18n %}
{% block title %}
    {% trans "Confirm Access" %}
{% endblock title %}
{% block content %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li><a class="link" href="{% url 'notes:home' %}">Home</a></li>
            <li>Confirm Access</li>
        </ul>
    </div>
    <div class="flex justify-center pt-2">
        <span class="text-2xl font-bold">Confirm Access</span>
    </div>
    <div class="flex justify-center text-center">
        <p>{% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}</p>
    </div>
    {% block reauthenticate_content %}{% endblock %}
    {% if reauthentication_alternatives %}
        <div class="divider"></div>
        <div class="flex justify-center pt-2">
            <span class="text-xl font-bold">Alternative Options</span>
        </div>
        <ul class="list-disc px-4">
            {% for alt in reauthentication_alternatives %}
                <li>
                    <a href="{{ alt.url }}" class="link">{{ alt.description }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
