{% extends "account/base_manage_email.html" %}
{% load allauth i18n %}
{% block title %}
    {% trans "Email Addresses" %}
{% endblock title %}
{% block content %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li><a class="link" href="{% url 'notes:home' %}">Home</a></li>
            <li>Settings</li>
        </ul>
    </div>
    {% if form.errors %}
        {% for sub, error in form.errors.items %}
            <div class="p-2">
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 hidden md:flex" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{ error }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if emailaddresses %}
        <div class="flex justify-center pt-2">
            <span class="text-xl font-bold">The following email addresses are associated with @{{request.user.username}}:</span>
        </div>
        {% url 'account_email' as email_url %}
        {% element form form=form action=email_url method="post" %}
            {% slot body %}
                {% csrf_token %}
                <div class="overflow-x-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for radio in emailaddress_radios %}
                                <tr>
                                        <td>{{ radio.emailaddress.email }}</td>
                                        <td>
                                            {% if radio.emailaddress.verified %}
                                                {% element badge tags="success,email,verified" %}
                                                    {% translate "Verified" %}
                                                {% endelement %}
                                            {% else %}
                                                {% element badge tags="warning,email,unverified" %}
                                                    {% translate "Unverified" %}
                                                {% endelement %}
                                            {% endif %}
                                            {% if radio.emailaddress.primary %}
                                                {% element badge tags="email,primary" %}
                                                    {% translate "Primary" %}
                                                {% endelement %}
                                            {% endif %}
                                        </td>
                                        <td><input class="radio radio-primary" type="radio" name="email" checked="{{radio.checked}}" value="{{radio.emailaddress.email}}" id="{{radio.id}}"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endslot %}
            <div class="overflow-x-auto">
                {% slot actions %}
                    <div class="mt-4">
                        <button class="btn btn-sm btn-primary" type="submit" name="action_primary">Make Primary</button>
                        <button class="btn btn-sm btn-secondary" type="submit" name="action_send">Re-send verification</button>
                        <button class="btn btn-sm btn-warning" type="submit" name="action_remove">Remove</button>
                        <a class="btn btn-sm btn-accent" type="submit" href="{% url 'account_change_password' %}">Change Password</a>
                    </div>
                {% endslot %}
            </div>
        {% endelement %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    {% if can_add_email %}
        <div class="divider"></div>
        <div class="flex justify-center">
            <span class="text-xl font-bold">Add email address:</span>
        </div>
        <div class="flex justify-center p-2" onsubmit="disableAdd();">
        {% url 'account_email' as action_url %}
        {% element form form=form method="post" action=action_url %}
            Hoi bef bod
            {% slot body %}
                {% csrf_token %}
                <div class="label">
                    <span class="label-text-alt">Enter the email address that you wish to add to this account:</span>
                </div>
                <label class="input input-bordered flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" /><path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" /></svg>
                    {{ form.email }}
                </label>
            {% endslot %}
            befac
            {% slot actions %}
                <input class="btn btn-accent btn-block mt-2" type="submit" value="Add Email" name="action_add">
            {% endslot %}
        {% endelement %}
        </div>
    {% endif %}
    <!-- socialaccount_connections -->
    <div class="divider"></div>
    <div class="flex justify-center">
        <a class="btn btn-sm btn-warning" href="{% url 'socialaccount_connections' %}">Manage Social Account Connections</a>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        (function() {
        var message = "{% trans 'Do you really want to remove the selected email address?' %}";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
            actions[0].addEventListener("click", function(e) {
            if (! confirm(message)) {
                e.preventDefault();
            }
            });
        }
        })();
        function disableAdd() {
            document.getElementsByName('action_add')[0].disabled = true;
            document.getElementsByName('action_add')[0].value = "Adding...";
        }
    </script>
{% endblock scripts %}
