{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    {% trans "Change Password" %}
{% endblock title %}
{% block content %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li><a class="link" href="{% url 'notes:home' %}">Home</a></li>
            <li>Change Password</li>
        </ul>
    </div>
    <div class="p-2">
        <div role="alert" class="alert alert-success">
            <span>
                You have successfully changed your password. You may now <a class="link" href="{% url 'account_login' %}">log in</a> with your new password.
            </span>
        </div>
    </div>
{% endblock content %}
