{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="text-sm breadcrumbs">
        <ul>
            <li><a class="link" href="{% url 'notes:home' %}">Home</a></li>
            <li><a class="link" href="{% url 'notes:login' %}">Login</a></li>
            <li>Reset Password</li>
        </ul>
    </div>
    {% if form.errors %}
        {% for key, value in form.errors.items %}
            <div class="p-2">
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 hidden md:flex" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{ value }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="flex justify-center p-2">
        <form method="post" onsubmit="disableSubmit();">
            {% csrf_token %}
            <div class="label">
                <span class="label-text-alt">Enter your email</span>
            </div>
            <label class="input input-bordered flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" /><path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" /></svg>
                {{ form.email }}
            </label>
            <input class="btn btn-accent btn-block mt-5" type="submit" value="Reset">
            <a class="link label-text" href="{% url 'notes:login' %}">Remeber your password? Login</a>
        </form>
    </div>
    <script>
        function disableSubmit() {
            document.querySelector('input[type="submit"]').disabled = true;
            document.querySelector('input[type="submit"]').value = "Processing...";
        }
    </script>
{% endblock %}