{% extends 'layout.html' %}

{% block content %}
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
            <thead>
            <tr>
                <th>File Name</th>
                <th>Course and Module Name</th>
                <th>Timestamp</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{file.file_name}}</td>
                    <td>{{file.course_module.course.code}} - {{file.course_module.name}}</td>
                    <td>{{file.date_created}}</td>
                    <td>
                        {% if file.approved == 0 %}
                            Pending approval...
                        {% elif file.approved == 1 %}
                            Approved!
                        {% elif file.approved == 2 %}
                            Duplicate
                        {% else %}
                            Rejected
                        {% endif %}
                    </td>
                    <td>
                        {% if file.approved == 0 %}
                            <a href="{% url 'notes:delete-file' file.pk %}" class="text-error">Delete</a>
                        {% elif file.approved == 1 %}
                            <a href="{% url 'notes:download-file' file.pk %}" target="_blank">Download</a>
                        {% else %}
                            NA
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="px-8 pt-4">
        <ul class="list-disc text-sm">
            <li>Any resource that you upload will be shown here along with the respective details</li>
            <li>Each resource will have to be approved by moderators before they are available publicly</li>
            <li>There are 4 types of statuses:</li>
                <ul class="list-decimal text-sm pl-8">
                    <li><span class="text-primary">Pending approval:</span> This means a moderator is yet to view your uploaded resource.</li>
                    <li><span class="text-success">Approved:</span> Your resource has been approved and is now visible publicly on the website.</li>
                    <li><span class="text-warning">Duplicate:</span> Exact same or a similar resource already exists publicly.</li>
                    <li><span class="text-error">Rejected:</span> Your resource violated our internal guidelines.</li>
                </ul>
            <li>You will be able to delete a resource you've uploaded during the "Pending Approval" stage.</li>
            <li>Resources in the Duplicate or Rejected stage are deleted from our servers automatically.</li>
            <li>To delete a resource that is Approved, you will need to contact us.</li>
            <li>A resource cannot be downloaded until it is approved.</li>
        </ul>
    </div>
{% endblock %}
