{% extends 'layout.html' %}

{% block content %}
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
            <thead>
            <tr>
                <th>File Name</th>
                <th>Course and Module Name</th>
                <th>Timestamp</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{file.file_name}}</td>
                    <td>{{file.course_module.course.code}} - {{file.course_module.name}}</td>
                    <td>{{file.date_created}}</td>
                    <td>
                        {% if file.approved == 0 %}
                            Pending approval...
                        {% elif file.approved == 1 %}
                            Approved!
                        {% elif file.approved == 2 %}
                            Duplicate
                        {% else %}
                            Rejected
                        {% endif %}
                    </td>
                    <td>
                        {% if file.approved == 0 %}
                            <a href="{% url 'notes:delete-file' file.pk %}" class="text-error">Delete</a>
                        {% elif file.approved == 1 %}
                            <a href="{% url 'notes:download-file' file.pk %}" target="_blank">Download</a>
                        {% else %}
                            NA
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
