{% extends 'layout.html' %}

{% block title %}Resource list for {{course.name}}{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mt-2">List of resources for {{course.name}}</h1>
    <a href="{% url 'notes:upload-file' branch.code course.code %}" class="btn btn-accent btn-sm mt-2">Contribute</a>
    <div class="overflow-x-auto mt-2">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Download</th>
                <th>Uploaded by</th>
                <th>Uploaded on</th>
                <th>Times download</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.file_name }}</td>
                    <td><a href="{% url 'notes:download-file' file.pk %}" class="link" target="_blank">Download</a></td>
                    <td>@{{ file.user }}</td>
                    <td>{{ file.date_created }}</td>
                    <td>{{ file.number_of_downloads }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
