{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="hero" style="min-height: 60vh;">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Welcome!</h1>
                <p class="py-6">
                    Learn Easy is a learning <span class="text-warning">resource sharing platform</span> designed for students pursuing engineering 
                    at any of the colleges affiliated to <span class="text-warning">Visvesvaraya Technological University</span>.
                    Resources are shared by students and are available for <span class="text-warning">free</span>.
                </p>
                <a class="btn btn-primary" href="{% url 'notes:resources' %}">Find resources</a>
                <a class="btn btn-accent" href="{% url 'notes:contribute' %}">Contribute</a>
            </div>
        </div>
    </div>
    <div class="hero mt-4">
        <div class="hero-content text-left">
            <div class="max-w-md">
                <h1 class="text-3xl font-bold">What's your benefit?</h1>
                <p class="py-4">
                    Whether it is your <span class="text-warning">semester exams, internal assessments, assignment solutions</span>,
                    this community has got you covered. We have a wide range of resources available for you to <span class="text-warning">access and download</span>
                    to ace your exams.
                </p>
            </div>
        </div>
    </div>
    <div class="hero mt-4">
        <div class="hero-content text-left">
            <div class="max-w-md">
                <h1 class="text-3xl font-bold">How does this work?</h1>
                <p class="py-4">
                    Unlike other platforms where the website owner uploads their resources, the resources here are shared <span class="text-warning">by students</span> 
                    for the benefit of the <span class="text-warning">same and future batches</span>.
                </p>
            </div>
        </div>
    </div>
    <div class="hero mt-4">
        <div class="hero-content text-left">
            <div class="max-w-md">
                <h1 class="text-3xl font-bold">How can I help?</h1>
                <p class="py-4">
                    By uploading <span class="text-warning">notes</span> sent by your professors or the ones you made, sharing 
                    your <span class="text-warning">assignment solutions</span>, <span class="text-warning">important questions</span> or by uploading your <span class="text-warning">internal assessment</span> 
                    and <span class="text-warning">sem exam question papers</span> as soon as it's completed.
                </p>
            </div>
        </div>
    </div>
    <div class="hero mt-4">
        <div class="hero-content text-left">
            <div class="max-w-md">
                <h1 class="text-3xl font-bold">The GOAL</h1>
                <p class="py-4">
                    <span class="text-warning">The problem:</span> Different professors share resources in different places (WA groups, Google Classroom, etc.) As a student, it's hard to manage.<br><br>
                    <span class="text-warning">The goal:</span> of this platform is to create a <span class="text-warning">one stop destination</span> for any resources
                    that you need so that you don't have to go through the hassle of searching for them. All this, by the community and not just one person.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
