{% extends 'layout.html' %}

{% block content %}
    <h1 class="text-3xl font-bold mt-2">Select the module:</h1>
    <a href="{% url 'notes:upload-file' branch.code course.code %}" class="btn btn-accent btn-sm mt-2">Contribute</a>
    <div class="overflow-x-auto mt-2">
        <table class="table">
            <thead>
            <tr>
                <th>Module name</th>
                <th>Number of resources</th>
            </tr>
            </thead>
            <tbody>
            {% for module in course_modules %}
                <tr>
                    <td><a href="{% url 'notes:display-file-list' branch.code course.code module.pk %}" class="link">{{module.name}}</a></td>
                    <td>{{module.no_of_files}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
